<!-- Formulário para cadastrar parceiros -->
<section class="partners">
  <div class="container__form">
    <h3>Cadastro</h3>
    <form [formGroup]="formCliente" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group" *ngFor="let item of formInfo">
            <label for="{{ item.idInput }}">{{ item.label }}</label>
            <input type="{{ item.type }}" class="form-control" id="{{ item.idInput }}" placeholder="{{ item.placeholder }}" formControlName="{{ item.idInput }}">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formCliente.invalid">Cadastrar</button>
    </form>
  </div>
  <app-tablePartners [formInfo]="formInfo" (newSendData)="receiveData($event)"></app-tablePartners>
</section>