<section class="about">
  <div class="container__text">
    <div class="text__content">
      <h3>A Aplicação</h3>
      <p>
        Esta aplicação é uma plataforma de gestão de parceiros e empresas externas, que permite aos usuários fazer login, acessar e compartilhar com outros usuários.
      </p>
    </div>
    <div class="text__content">
      <h3>Sobre a Tecnologia Utilizada</h3>
      <p>
        A aplicação utiliza o AngularJS 15, um framework JavaScript para o desenvolvimento de aplicações web dinâmicas e responsivas. O AngularJS 15 oferece recursos como componentes, serviços, diretivas, pipes, módulos, roteamento, formulários, validação, autenticação, interceptadores, observáveis, testes, e muito mais.
      </p>
    </div>
    <div class="text__content">
      <h3>Informações adicionais</h3>
      <p>
        Este projeto usa a componentização do Angular para definir responsabilidades e funções claras para cada elemento. Isso beneficia a experiência do usuário. Os módulos individuais seguem o princípio da singularidade, ou seja, cada componente e cada página têm seu módulo exclusivo. Isso facilita a organização e a compreensão do código para futuras mudanças. Outro aspecto positivo para o usuário é o uso de rotas aninhadas, que permitem uma navegação mais ágil e suave. Além disso, as informações de login são armazenadas em cookies (com o consentimento do usuário), evitando que o usuário tenha que se logar a cada acesso à aplicação.
      </p>
    </div>
  </div>
</section>
