header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

  .logo {
    width: 120px;
  }

  nav {
    width: calc(100% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-item {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin-right: 2rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  
}
