<header>
    <app-header></app-header>
</header>
<main>
  <!-- Conteúdo da aplicação -->
    <div class="container">
        <div>
            <div>
                <!-- Formulário para cadastrar empresa externa -->
                <h3>Cadastrar empresa externa</h3>
                <form>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite o nome da empresa">
                    </div>
                    <div class="form-group">
                        <label for="cnpj">CNPJ</label>
                        <input type="text" class="form-control" id="cnpj" placeholder="Digite o CNPJ da empresa">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="Digite o e-mail da empresa">
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input type="tel" class="form-control" id="telefone" placeholder="Digite o telefone da empresa">
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
            <app-table></app-table>
        </div>
    </div>    
</main>

