<section class="container__table-partners">
  <!-- Tabela para listar as empresas externas -->
  <h3>Lista de empresas externas</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Número de Colaboradores</th>
        <th scope="col">Data de Abertura</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partner of dataPartners; let i = index">
        <ng-container *ngIf="i >= (page - 1) * 10 && i < page * 10">
          <td>{{ partner.id | number:'2.0-0' }}</td>
          <td>{{ partner.companyName }}</td>
          <td>{{ partner.collaboratorsCount }}</td>
          <td>{{ partner.createdAt }}</td>
          <td>
            <span *ngIf="partner.isActive">Ativo</span>
            <span *ngIf="!partner.isActive">Inativo</span>
          </td>
          <td>
            <div class="acoes">
              <a class="btn btn-warning" (click)="showChange(partner.id)">Editar</a>
              <a class="btn btn-danger"  (click)="deleteData(partner.id)">Deletar</a>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <!-- Paginação da tabela -->
  <nav aria-label="Navegação da tabela">
    <ul class="pagination">
      <li class="page-item disabled" [class.disabled]="page == 1">
        <a class="page-link" tabindex="-1" aria-disabled="true" (click)="previousPage()">Anterior</a>
      </li>
      <li 
        class="page-item active" 
        aria-current="page" 
        *ngFor="let n of listPages" 
        [class.active]="page == n" 
        [class.disabled]="n > count"
      >
        <a class="page-link" (click)="page = n">{{ n }}</a>
      </li>
      <li class="page-item" [class.disabled]="page == count">
        <a class="page-link" (click)="nextPage()">Próximo</a>
      </li>
    </ul>
  </nav>
  <!-- Botão para compartilhar os dados da tabela -->
  <!-- <app-shareButton></app-shareButton> -->
</section>
<!-- Campo de edição de partner -->
<section class="editRow" *ngIf="showField">
  <div class="container__form" (click)="showField = true">
    <h3>Editar Empresa Externa</h3>
    <form [formGroup]="formCliente" (ngSubmit)="changeRow(f)" #f="ngForm">
        <div class="form-group" *ngFor="let item of formInfo">
            <label for="{{ item.idInput }}">{{ item.label }}</label>
            <input type="{{ item.type }}" class="form-control" id="{{ item.idInput }}" placeholder="{{ item.placeholder }}" formControlName="{{ item.idInput }}">
        </div>
        <div>
          <label for="status">Status:</label>
          <div class="selectStatus">
            <select name="status" id="status" formControlName="status">
              <option value="true">Ativa</option>
              <option value="false">Inativa</option>
            </select>
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="btn btn-primary" [disabled]="formCliente.invalid">Atualizar</button>
          <button (click)="showField = false">Voltar</button>
        </div>
    </form>
  </div>
</section>