/* Estilo da tabela */
.tabela {
  margin: 20px;
}

/* Estilo das ações da tabela */
.acoes {
  display: flex;
  justify-content: space-around;
}

/* Estilo do botão de compartilhar */
.compartilhar {
  margin: 20px;
}
